services:
  mysql:
    image: mysql:8.0
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    build:
      context: ./backend
    env_file: .env
    depends_on:
      - mysql
    ports:
      - "5004:5004"
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
    working_dir: /app
    # command: npm run dev -- --host 0.0.0.0
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/app

volumes:
  db_data:
